dist
govscape/govscape/**/__pycache__
govscape/tests/**/__pycache__
govscape/data/*
.venv
data
poetry.lock
node_modules
interface/**/build
.svelte-kit
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.test
scripts/__pycache__/*
.pytest_cache
.__pycache__/*
.keyword_index_benchmark/*
.vector_index_benchmark/*
**/__pycache__/*
