dist
govscape/**/__pycache__
tests/**/__pycache__
data/*
.venv
.containervenv
data
poetry.lock
node_modules
interface/**/build
.svelte-kit
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.test
scripts/__pycache__/*
.pytest_cache
.__pycache__/*
.keyword_index_benchmark/*
.keyword_index_gov_benchmark/*
.metadata_index_benchmark/*
.vector_index_benchmark/*
.ocr_benchmark_data/*
.ocr_bench_work/*
**/__pycache__/*
.visual_bench_work/*
.forward_index_bench_work/*
